{% extends 'base.html' %}

{% block content%}
<div class="container">

    <div class="row">
        <div class="col-lg-12">
        <h1 class="text-center mt-5 mb-5">Добро пожаловать в службу доставки товаров</h1>
    </div>

        <div class="col-lg-6 mb-4">
            <div class="card">
      <div style='text-align:center; width:100%' class="card-body">
        <h5 align="center" class="card-title">Пользователь</h5>
        <p class="card-text">"Закажи доставку по выгодной цене - и мы привезем тебе все, что нужно! С нашей службой доставки все легко!"</p>
        <a  href="{% url 'customer:home' %}" class="btn btn-warning">Войти</a>
      </div>
    </div>
        </div>

        <div style='text-align:center; width:100%' class="col-lg-6 mb-4">
            <div class="card">
      <div class="card-body">
        <h5 align="center" class="card-title">Курьер</h5>
        <p class="card-text">"Ищешь подработку с удобным для тебя графиком? Тогда тебе к нам. Своевременная оплата и свободный график работы"</p>
        <a align="center" href="{% url 'courier:home' %}" class="btn btn-warning">Войти</a>
      </div>
    </div>
        </div>
    </div>
</div>
{% endblock %}

